<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> MultivendorIT ECommerce </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="carrito.html">Carrito</a></li>
        <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">Bienvenido a MultivendorIT Ecommerce 2023</h1>
    <p class="lead">Tu tienda de productos en Línea</p>
  </header>

  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor = "let p of products" class="col-md-3">

            <div class="product-box">
              <img src="{{p.urlImage}}">
              <h2 class="card-text"> {{p.name}} </h2>
              <div class="price"> {{p.price}} </div>
              <div class="product-show">
                <a href="#" class="primary-btn">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; MultivendorIT eCommerce 2023</p>
  </div>
  <!-- /.container -->
</footer>